$highlight-color: #09649c;
$main-color: #333;
$gradient: "linear-gradient(to right, #e4f4fe 0%, #f5f9fb 45%, #eeeeee 100%)";
$font-great-vibes: "'Great Vibes',cursive";
$font-roboto: "'Roboto',sans-serif";