@import "mixins";

.list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;

    li {
        margin: 10px;
        padding: 10px 20px;
        background: #f0f8fd;
        border-radius: 4px;
    }
}


.content {
    p {
        margin-bottom: 30px;
    }
}

.exp {
    grid-template-columns: 1fr;

    ul {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        margin: 10px;
        padding: 30px 20px;
        background: #eeeeee;
        border-radius: 4px;

        li {
            padding: 0 20px;

            &.title {
                padding: 0 0 0 10px;
                font-weight: 700;
                margin-bottom: 6px;
                font-size: 22px;
            }
        }

        border-bottom: 1px solid #eeeeee;
    }

    p {
        margin-top: 10px;
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    .list {
        flex-direction: column;

        li {
            width: 100%;
            margin: 6px 0px;
        }
    }
}