.list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;

    li {
        margin: 10px;
        padding: 10px 20px;
        background: #eeeeee;
        border-radius: 4px;
    }
}


.content {
    p {
        margin-bottom: 30px;
    }
}

@media (max-width: 500px) {
    .list {
        flex-direction: column;

        li {
            width: 100%;
            margin: 6px 0px;
        }
    }
}