.footer {
  border-bottom: 1px solid #eaeaea;
  width: 100%;
  position: relative;
  top: 0;
  font-weight: 700;
  padding: 10px 0;
  overflow: hidden;
  background: #eeeeee;
  margin-top: 60px;

  .wrapper {
    display: flex;
    position: relative;
    align-items: center;

    .madewith {
      font-weight: 400;
      font-size: 12px;
      text-transform: lowercase;
      color: #333;
      background: #fdfdfd;
      border-radius: 4px;
      padding: 12px 20px;

      strong {
        font-weight: 700;
      }

      a {
        display: inline-block;
      }
    }

    .nav {
      margin-left: auto;
    }
  }
}