html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}

p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

ul {
  list-style: none;
  padding: 0;
}

.wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #333;
  text-align: center;
}

.section {
  flex: 1;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}