.header {
  border-bottom: 1px solid #eaeaea;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-weight: 700;
  padding: 10px 0;
  overflow: hidden;
  background: #eeeeee;
}
.header.active .hamburger {
  border-color: #0070f3;
}
.header.active .hamburger li {
  background: #0070f3;
}
.header.active .hamburger li:nth-of-type(1) {
  -webkit-transform: rotate(-45deg) translate(-6px, 20px) scaleX(0.6);
          transform: rotate(-45deg) translate(-6px, 20px) scaleX(0.6);
}
.header.active .hamburger li:nth-of-type(2) {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
.header.active .hamburger li:nth-of-type(3) {
  -webkit-transform: rotate(45deg) translate(-6px, -20px) scaleX(0.6);
          transform: rotate(45deg) translate(-6px, -20px) scaleX(0.6);
}
.header.active .nav {
  right: 0;
}
.header .logo {
  width: 100%;
  max-width: 160px;
}
.header .nav ul,
.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .nav {
  position: absolute;
  z-index: 100;
  right: -100vw;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding-right: 60px;
}
.header .nav ul li a {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #0070f3;
  text-decoration: none;
  padding: 12px 20px;
  text-transform: uppercase;
}
.header .nav ul li a:hover {
  color: #333;
  text-decoration: underline;
}
.header a {
  display: block;
}
.header .hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin-left: auto;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  z-index: 101;
  border-radius: 100%;
  border-width: 3px;
  border-style: solid;
  border-color: transparent;
}
.header .hamburger li {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  display: block;
  background: #333;
  height: 4px;
  border-radius: 4px;
}
.header .hamburger li:nth-of-type(2) {
  -webkit-transform: scaleX(0.85);
          transform: scaleX(0.85);
}