@import "mixins";

.header {
  border-bottom: 1px solid #eaeaea;
  width: 100%;
  position: sticky;
  top: 0;
  font-weight: 700;
  padding: 10px 0;
  overflow: hidden;
  background: #eeeeee;

  &.active {
    .hamburger {
      border-color: #0070f3;
      // background: #fff;

      li {
        background: #0070f3;

        &:nth-of-type(1) {
          transform: rotate(-45deg) translate(-6px, 20px) scaleX(0.6);
        }

        &:nth-of-type(2) {
          transform: scaleX(0);
        }

        &:nth-of-type(3) {
          transform: rotate(45deg) translate(-6px, -20px) scaleX(0.6);
        }
      }
    }

    .nav {
      right: 0;
    }
  }

  .logo {
    width: 100%;
    max-width: 160px;
  }


  .nav ul,
  .wrapper {
    display: flex;
    position: relative;
    align-items: center;
  }

  .nav {
    position: absolute;
    z-index: 100;
    right: -100vw;
    transition: all 0.5s ease-in-out;
    padding-right: 60px;

    ul {
      li {

        a {
          transition: all 0.5s ease-in-out;
          color: #0070f3;
          text-decoration: none;
          padding: 12px 20px;
          text-transform: uppercase;

          &:hover {
            color: #333;
            text-decoration: underline;
          }
        }
      }
    }
  }

  a {
    display: block;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all 0.5s ease-in-out;
    margin-left: auto;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
    z-index: 101;
    border-radius: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;

    li {
      transition: all 0.5s ease-in-out;
      transform-origin: left center;
      display: block;
      background: #333;
      height: 4px;
      border-radius: 4px;

      &:nth-of-type(2) {
        transform: scaleX(.85);
      }
    }


  }
}