@import "mixins";

.card {
    width: 100%;

    >a {
        border: 3px solid #eaeaea;
        display: block;
        text-decoration: none;
        padding: 0;
        border-radius: 3px;
        color: $main-color;
        transition: color 0.15s ease, border-color 0.15s ease;
        width: 100%;
        max-height: 420px;
        overflow: hidden;
        position: relative;

        &.anchor {
            width: 0;
            height: 0;
            padding: 0;
            margin: 0;
            overflow: hidden;
            border: 0;
        }

        &:hover,
        &:focus,
        &:active {
            color: $highlight-color;
            border-color: $highlight-color;

            .content {
                background: $main-color;
            }
        }

        .img {
            display: flex;
            justify-content: center;
        }

        img {
            display: block;
        }

        strong {
            display: block;
            text-align: center;
            font-weight: 700;
            font-size: 16px;
            text-transform: uppercase;
            padding: 10px 20px;
            background: $main-color;
            color: #fff;
        }

        .content {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            color: #fff;
            background: rgba($main-color, 0.8);
            padding: 6px 20px;
            transition: all 0.15s ease;

            span {
                display: block;

                p {
                    font-size: 13px;

                    a {
                        display: inline-block;
                        color: #fff;
                        text-decoration: underline;
                    }

                    &:first-of-type {
                        margin-bottom: 6px;
                    }
                }
            }
        }
    }

    &.featured {
        .extlink {
            position: absolute;
            bottom: 10px;
            right: 10px;
            z-index: 101;
            width: 25px;
            background: $highlight-color;
            border-radius: 2px;
            display: flex;
            justify-content: center;
            align-content: center;
            padding: 3px;

            svg {
                width: 100%;
                height: auto;

                * {
                    fill: #fff;
                }
            }
        }
    }
}